.slash-titles {
    padding-top: 70px;
    @media (max-width: $mobile) {


        text-align: center;
        margin-top: -100px;

        

    }

   
    &__title {

        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        color: white;
        max-width: 700px;

        display: inline-block;


        @media (max-width: $mobile) {


            font-size: 28px;


        }


    }

    &__p {
        font-family: 'Fira Code';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;


        margin-top: 15px;
        color: white;
    }

    &__img {
        width: 20px;
    }

    &__box {
        display: flex;
        gap: 5px;
        align-items: center;
        

        @media (max-width: $mobile) {


            align-items: center;
            justify-content: center;
            margin-bottom:-10px;
    
    
        }
    }
}
