.sticky {
    padding: 0 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    
    top: 0;
    height: 100%;  //??????????????????
    

    @media (max-width: $mobile) {
        display:none;
    }

    @media (max-width: $tablet) {
        display:none;
    }

    &__items {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        position: sticky;
        top: 0;

      
    }

    &__line {
        padding: 0 15px;
    }

    svg {
        color: $grey;
    }

    svg:hover {
        color:white;
        transition: all .3s ease;
        

    }
}

.nav {

    @media (max-width: $mobile) {

        display:none;
    }
  

    display: flex;
        justify-content: space-between;
        background-color: $background;
        padding: 32px;
        padding-left: 170px;
        padding-right: 170px;
        position: fixed;
        z-index: 99999;

        width: 100%;
        left: 0;
        border-bottom: 1px solid $grey;

    &__ul {
        list-style-image: url(../../img/ul.svg);
        text-decoration: none;
        display: flex;
        gap: 32px;
    }

    &__a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: $grey;
    }

    &__a:hover {
        color: white
    }
    &__active {
        color:white;
    }

    svg {
        color:white;
    }

    svg:hover {
        color:$grey;
        transition: all .3s ease;
        

    }
}


.hamburger-menu {
    z-index: 99999;
}
#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  


  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: white;
    z-index:1;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
   
    
    background-color: $background;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
   

  }
  
  .menu__item {

    display: block;
    padding: 12px 24px;
  
    color: $purple;
  
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: $grey;
    color:white;
  }

